# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# emacs
*~

# gradle
build
.gradle

# other
eclipse
run
Makefile

# Files from Forge MDK
forge*changelog.txt
